.CircularProgressbar .CircularProgressbar-path {
    stroke: url(#progress-color-id);
}

.fc .fc-scrollgrid-section-sticky > * {
    background: #121212;
}
.fc .fc-timegrid-slots tbody tr .fc-timegrid-slot:first-child {
    border: 0;
}
.fc .fc-timegrid-slots tbody tr .fc-timegrid-slot:first-child .fc-timegrid-slot-label-frame {
    margin-top: -60%;
}
.fc .fc-timegrid-slots tbody tr:first-child .fc-timegrid-slot:first-child {
    display: none;
}
.fc .fc-timegrid-slots tbody tr:nth-child(2n) .fc-timegrid-slot {
    border: 0;
}
.fc .fc-timegrid-now-indicator-container {
    overflow: visible;
}
.fc .fc-timegrid-now-indicator-container .fc-timegrid-now-indicator-line {
    border-color: #000;
}
.fc .fc-timegrid-now-indicator-container .fc-timegrid-now-indicator-line::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #000;
}
.fc .fc-timegrid-now-indicator-container .fc-timegrid-now-indicator-arrow {
    display: none;
}
.fc .fc-day-today {
    background-color: rgba(255, 255, 255, 0.12) !important;
}
.fc .fc-timegrid-col-events {
    margin: 0 2.5%;
}
.fc .fc-timegrid-col-events .fc-timegrid-event {
    box-shadow: none;
    border-radius: 5px;
    margin: 2px 0;
}
